verification commands:

# Verification for server :

chronyc sources ----> to check server connected to  NTP services

chronyc clients ----> to check clients connected to NTP server


# Verification for clients :

chronyc sources -v ----> to check client machine connected to NTP server or not
